.cta
{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background-color: var(--color-gray-alt);

  &__cont
  {
    width: 100%;
    max-width: 1060px;
    padding-top: 130px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    align-items: center;
    text-align: center;
  }
}