:root
{
  --color-warning: #FFE68E;
  --color-gray: #F2F2F2;
  --color-gray-alt: #2B2B2B;
  --color-pink: #EBE0E0;
  --color-dark: #303548;
  --color-primary: #252525;
  --color-secondary: #E9E9E9;
  --color-light: #FFFFFF;
  --color-g-bg: #0E0E0E;
  --color-nav-link-default: #cfcfcf;


  --border: 1px solid var(--color-light);
  --border-radius: 10px;
  --border-radius-medium: 20px;
  --border-radius-large: 30px;

  --font-family-base: 'Roboto', sans-serif;

  --container-width: 1600px;
  --container-padding-x: 0;

  --section-padding-y: 30px;

  --input-height: 48px;
  --button-height: 70px;
  --button-input-height: 62px;

  --transition-duration: 0.4s;
}